h4 {
  text-align: right;
}

#pets {
  display: flex;
  justify-content: space-evenly;
}

.card {
  width: 800px;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px;

}

  
#pets {
  display: flex;
  flex-direction: row;
}  



img {
  width: 100%;
  border-radius: 20px;
}

@media (max-width:410px) {
  #pets {
    flex-wrap: wrap;
  }
}
span {
  color: rgb(122, 103, 139);
}

